<div>
  <form
    class="example-form"
    [formGroup] = "loginForm"
    (ngSubmit)="submit()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>

<!--     //todo matInput как работает? почему обязательно должен быть?-->
      <input
        matInput [formGroup]="loginForm"
        formControlName="email"
        type="email"
        placehlder="Ex. pat@example.com"
      >

<!--      // todo this нужен перед loginForm?-->
<!--      *ngIf="loginForm.get('email').hasError('required')" // todo как обратиться к hasError?-->
      <mat-error *ngIf="this.loginForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="this.loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>

    </mat-form-field>

<!--    <mat-form-field class="example-full-width">-->
<!--      <mat-label>Password</mat-label>-->

<!--      //todo formControlName для чего нужен и как используется-->
<!--      <input-->
<!--        formControlName="password"-->
<!--        type="password"-->
<!--        matInput-->
<!--        placeholder="qwerty123"-->
<!--      >-->
<!--      controls.email.errors.required-->
<!--      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">-->
<!--        Please enter a valid password-->
<!--      </mat-error>-->
<!--      <mat-error *ngIf="loginForm.hasError('required')">-->
<!--        Email is <strong>required</strong>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

    <button

      type="submit"
    >
      Login
    </button>
  </form>
</div>

<!--<hr>-->
<!--<hr>-->

<!--<mat-error *ngIf="this.loginForm.hasError('email') && !emailFormControl.hasError('required')">-->
<!--  Please enter a valid email address-->
<!--</mat-error>-->
<!--<hr>-->


<!--<h2>Login</h2>-->
<!--<p>Please enter your login and password</p>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">-->
<!--  <div>-->
<!--    <input formControlName="email" type="email">-->
<!--    <label>Email</label>-->
<!--    <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched">-->
<!--      Email is required-->
<!--    </p>-->
<!--  </div>-->
<!--  <div>-->
<!--    <input formControlName="password" type="password">-->
<!--    <label>Password</label>-->
<!--    <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched">-->
<!--      Password is required-->
<!--    </p>-->
<!--  </div>-->
<!--  <button [disabled]="loginForm.invalid" type="submit">Login</button>-->
<!--</form>-->
