body {
  overflow-x: hidden;
}

.container-wrapper {
  min-height: calc(100vh - 128px);
}

.spacer {
  flex-grow: 1;
}

.mdc-card.product-card {
  min-width: 350px;
  max-width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: #FFCA86;
  align-items: center;
  margin: 20px;
  text-align: center;

  .title {
    margin: 10px 0px 10px 0px;
  }

  .image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  .ingredients {
    margin: 20px 10px 0px 10px;

  }

  .price {
    margin: 10px;
    font-size: large;
  }
}
 .mdc-card.product-single-card {
   margin: 0;
 }

.mat-toolbar-row {
  &.toolbar-editor {
    background-color: #FFCA86;
    width: 100%;
  }

  &.toolbar-price {
    background-color: #FFCA86;
    justify-content: center;

    p {
      margin-top: 12px;
      font: {
        weight: bold;
        size: large;
      }
    }
  }

}

