<div class="container-wrapper">

  <ng-container *ngIf="totalPrice$ | async; else emptyBlock ">
    <mat-toolbar-row class="toolbar-price">

      <p class="cost">
        Сумма заказа составляет:
        <span>{{totalPrice$ | async | currency}}</span>
      </p>
      <button
        mat-button
        class="button"
        routerLinkActive="active-link"
        routerLink="/checkout"
      >
        Оформить заказ
      </button>
    </mat-toolbar-row>
  </ng-container>

  <ng-template #emptyBlock>
    <mat-toolbar-row class="toolbar-price">
      <p>Пожалуйста, добавьте товары в корзину</p>
    </mat-toolbar-row>
  </ng-template>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let basketItem of basket$ | async">
      <mat-card class="product-card">
        <mat-card-title class="title">{{basketItem.product.title}}</mat-card-title>
        <img class="image" mat-card-image src="{{basketItem.product.image}}">

        <mat-card-content class="content">
          <p class="price">Цена: <span>{{basketItem.product.price | currency}}</span></p>
          <p class="ingredients">{{basketItem.product.ingredients | json}}</p>
        </mat-card-content>

        <span class="spacer"></span>

        <mat-card-actions class="actions">
          <button class="button" mat-button (click)="minusFromBasket(basketItem.product)">-</button>
          <p class="price">
            Количество:
            <span>{{basketItem.quantity}}</span>
          </p>
          <button class="button" mat-button (click)="addToBasket(basketItem.product)">+</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</div>
