<div class="container-wrapper">
<ng-container *ngIf="totalPrice$ | async">
  <mat-card class="price-card">
    <mat-card-content>
      <span>Сумма заказа составляет: <p>{{totalPrice$ | async |currency}}</p></span>
    </mat-card-content>
  </mat-card>
</ng-container>

<div class="container">
  <mat-card class="example-card" *ngFor="let basketItem of basket$ | async">
    <mat-card-title>{{basketItem.product.title}}</mat-card-title>
    <img class="image" mat-card-image src="{{basketItem.product.image}}">

    <mat-card-content>
      <p class="price">Цена: <span>{{basketItem.product.price | currency}}</span></p>
      <p class="ingredients">{{basketItem.product.ingredients | json}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button class="button" mat-button (click)="minusFromBasket(basketItem.product)">-</button>
      <div class="price">
        Количество:
        <span>{{basketItem.quantity}}</span>
      </div>
      <button class="button" mat-button (click)="addToBasket(basketItem.product)">+</button>
    </mat-card-actions>
  </mat-card>


</div>
</div>
