<div class="container">
  <mat-card class="example-card">

    <mat-card-title>{{data.product.title}}</mat-card-title>
    <img class="image" mat-card-image src="{{data.product.image}}">

    <mat-card-content>
      <p>{{data.product.ingredients}}</p>
      <span>Цена: <p>{{data.product.price | currency}}</p></span>

    </mat-card-content>
    <mat-card-actions>
      <button
        class="button"
        mat-button
        cdkFocusInitial
        (click)="addToBasket(data.product)"
        (click)="openSnackBar()" aria-label="Show an example snack-bar"
      >
        В корзину
      </button>
    </mat-card-actions>
  </mat-card>
</div>
