<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="card-form">

  <mat-form-field class="card-full-width">
    <mat-label>Title</mat-label>
    <input
      matInput [formGroup]="myForm"
      formControlName="title"
      placeholder="Введите название"
    >
    <ng-container *ngIf="titleControl.touched && titleControlError">
      <mat-error>
        {{errorTitleMap[titleControlError]}}
      </mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field class="card-full-width">
    <mat-label>price</mat-label>
    <input
      matInput [formGroup]="myForm"
      formControlName="price"
      placeholder="введите стоимость числом"
    >
    <ng-container *ngIf="priceControl.touched && priceControlError">
      <mat-error>
        {{errorPriceMap[priceControlError]}}
      </mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field class="card-full-width">
    <mat-label>image</mat-label>
    <input
      matInput
    >
  </mat-form-field>

  <mat-form-field class="card-full-width">
    <mat-label>ingredients</mat-label>
    <input
      matInput [formGroup]="myForm"
      formControlName="ingredients"
      placeholder="перечислите ингридиенты через запятую"
    >
    <ng-container *ngIf="ingredientsControl.touched && ingredientsControlError">
      <mat-error>
        {{errorIngredientsMap[ingredientsControlError]}}
      </mat-error>
    </ng-container>
  </mat-form-field>

  <button
    class="button"
    mat-button
    type="submit"
    [disabled]="myForm.invalid"
  >
    {{isNew ? 'Добавить товар' : 'Обновить'}}
  </button>
  <button
    mat-button
    class="button"
    type="button"
    (click)="onNoClick()"
  >
    Отмена
  </button>

</form>
