<mat-toolbar class="header-main">

  <mat-toolbar-row>
    <div class="pizza-item" routerLink="/products">
      <mat-icon class="icon">local_pizza</mat-icon>
      <span>Pizza Shop</span>
    </div>

    <span class="spacer"></span>

    <div class="toolbar">
      <button
        class="header-button"
        routerLinkActive="active-link"
        mat-flat-button routerLink="/products"
      >
        Главная
      </button>
      <button
        routerLinkActive="active-link"
        class="header-button badge-icon"
        mat-flat-button
        routerLink="basket"
        [matBadgeHidden]="itemCountHidden$ | async"
        [matBadge]="itemsCountRound$ | async"
        matBadgeOverlap="true"
        matBadgeColor="warn"
      >
        Корзина
      </button>
      <button
        routerLinkActive="active-link"
        class="header-button"
        mat-flat-button routerLink="login"
        (click)="logout() "
      >
        Выйти
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
