:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-section {
  z-index: 100;
}
// todo что перекрывает цвет?
.active-link {
  color: #F77E21 !important;
  background-color: #FFCA86 !important;
}



