<mat-toolbar>

  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="/products">
      <mat-icon>local_pizza</mat-icon>
      <span>Pizza Shop</span>
    </div>

    <span class="example-spacer"></span>

    <div class="toolbar no-select">
      <button
        class="toolbar button"
        routerLinkActive="active-link"
        mat-flat-button routerLink="/products"
      >
        Главная
      </button>
      <button
        routerLinkActive="active-link"
        class="toolbar button demo-section"
        mat-flat-button routerLink="basket"
        [matBadgeHidden]="itemCountHidden$ | async"
        [matBadge]="itemsCountRound$ | async"
        matBadgeOverlap="true"
        matBadgeColor="warn"
      >
        Корзина
      </button>
      <button
        routerLinkActive="active-link"
        class="toolbar button"
        mat-flat-button routerLink="login"
        (click)="logout() "
      >
        Выйти
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
