.button {
  margin-right: 10px;
  color: darkred;
  background-color: wheat;
}

.example-card {
  width: 350px;
}
p {
  &.price {
    margin: 10px;
    font-size: large;

  }

  display: flex;
  justify-content: space-between;
  &.ingredients{
    margin: 20px 10px 0px 10px;
  }
}
.mat-mdc-card-actions {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
